/* タイトル文字列 */
.title {
	color: #0000ff;
	font-size: 150%;
	font-weight: bold;
}

/* アイコン */
.size-50 {
	width: 50px;
	height: 50px;
	position: relative;
}

.adjust {
	top: -3px;
	left: -8px;
}

.inline {
	display: inline;
}

.cursor {
	cursor: pointer;
}

/* テーブル */
.width-50per {
	width: 50%;
}

.width-100per {
	width: 100%;
}

.border {
	border: solid 2px;
}

.border-color {
	border-color: blue;
}

.float {
	float: left;
}

/* テキストエリア */

.textarea {
	width: 98%;
	resize: none;
}

.display {
	display: none;
}

.parent_height {
	height: 264px;
}

.child_height {
	height: 50px;
}