<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>BrainScope</title>
	<link rel="stylesheet" href="./css/default.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" media="screen" />
	
</head>

<body>
	<div class="container-fluid">
		<ul class="nav nav-tabs navbar-fixed-top" style="background-color: #ffffff">
			<li role="presentation" class="active">
				<a th:href="@{}">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span> BrainScope
				</a>
			</li>
			<li role="presentation">
				<a th:href="@{synapse}">
					<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Synapse
				</a>
			</li>
		</ul>
		
		<div class="row" style="padding-top: 50px;">
			<table class="table-hover table-condensed col-xs-6" style="position: fixed;">
				<tr>
					<td>
						<!-- スコープアドレスの移動（上り） -->
						<form class="inline" method="post" th:action="@{brainscope}">
							<input type="hidden" name="moveUpFlag" value="1" />
							<input type="hidden" name="id" th:value="${neuron.get(0).id}" />
							<input type="hidden" name="neuronLevel" th:value="${neuron.get(0).neuronLevel}" />
							<button class="btn btn-lg" type="submit" title="戻る"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
						</form>
						<!-- ニューロンの生成 -->
						<form class="inline" method="post" th:action="@{brainscope}">
							<input type="hidden" name="generateFlag" value="1" />
							<input type="hidden" name="id" th:value="${neuron.get(0).id}" />
							<input type="hidden" name="neuronLevel" th:value="${neuron.get(0).neuronLevel}" />
							<button class="btn btn-lg" type="submit" title="ニューロンを生成"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
						</form>
						<!-- ニューロンの活性化 -->
						<form class="inline" method="post" th:action="@{brainscope}">
							<input type="hidden" name="activateFlag" value="1" />
							<input type="hidden" name="id" th:value="${neuron.get(0).id}" />
							<input type="hidden" name="neuronLevel" th:value="${neuron.get(0).neuronLevel}" />
							<span th:class="${neuron.get(0).active} ? 'display'">
								<button class="btn btn-lg" type="submit" title="ニューロンを活性化"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></button>
							</span>
							<span th:class="${!(neuron.get(0).active)} ? 'display'">
								<button class="btn btn-lg" type="submit" title="ニューロンを非活性化"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
							</span>
						</form>
						<!-- ニューロンの更新 -->
						<form method="post" th:action="@{brainscope}">
							<input type="hidden" name="updateFlag" value="1" />
							<input type="hidden" name="id" th:value="${neuron.get(0).id}" />
							<input type="hidden" name="neuronLevel" th:value="${neuron.get(0).neuronLevel}" />
							<table class="width-100per">
								<tr>
									<td style="padding-top: 5px;">
										<!-- タイトル -->
										<div class="input-group">
											<input class="form-control input-lg" name="title" placeholder="Title" th:value="${neuron.get(0).title}" />
											<span class="input-group-btn">
												<button class="btn btn-lg" type="submit"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Save</button>
											</span>
										</div>
									</td>
								</tr>
								<tr>
									<td style="padding-top: 5px;">
										<!-- コンテンツ  -->
										<textarea class="form-control textarea input-lg" style="height: 60vh" name="content" placeholder="Content" th:text="${neuron.get(0).content}"></textarea>
									</td>
								</tr>
							</table>
						</form>
					</td>
				</tr>
			</table>
			
			<table class="table-hover table-condensed col-xs-6" style="float: right;">
				<tr th:each="neuron, iterStat : ${neuron}" th:class="${iterStat.first} ? 'display'">
					<td>
						<!-- スコープアドレスの移動（下り） -->
						<form class="inline" method="post" th:action="@{brainscope}">
							<input type="hidden" name="moveDownFlag" value="1" />
							<input type="hidden" name="id" th:value="${neuron.id}" />
							<input type="hidden" name="neuronLevel" th:value="${neuron.neuronLevel}" />
							<button class="btn btn-lg" type="submit" title="進む"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
						</form>
						<!-- ニューロンの削除 -->
						<form class="inline" method="post" th:action="@{brainscope}">
							<input type="hidden" name="extinctFlag" value="1" />
							<input type="hidden" name="id" th:value="${neuron.id}" />
							<input type="hidden" name="neuronLevel" th:value="${neuron.neuronLevel}" />
							<button class="btn btn-lg" type="submit" title="ニューロンを削除"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						</form>
						<!-- ニューロンの挿入 -->
						<form class="inline" method="post" th:action="@{brainscope}">
							<input type="hidden" name="insertFlag" value="1" />
							<input type="hidden" name="id" th:value="${neuron.id}" />
							<input type="hidden" name="neuronLevel" th:value="${neuron.neuronLevel}" />
							<button class="btn btn-lg" type="submit" title="ニューロンを挿入"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></button>
						</form>
						<!-- ニューロンの活性化 -->
						<form class="inline" method="post" th:action="@{brainscope}">
							<input type="hidden" name="activateFlag" value="1" />
							<input type="hidden" name="id" th:value="${neuron.id}" />
							<input type="hidden" name="neuronLevel" th:value="${neuron.neuronLevel}" />
							<span th:class="${neuron.active} ? 'display'">
								<button class="btn btn-lg" type="submit" title="ニューロンを活性化"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></button>
							</span>
							<span th:class="${!(neuron.active)} ? 'display'">
								<button class="btn btn-lg" type="submit" title="ニューロンを非活性化"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
							</span>
						</form>
						<!-- ニューロンの更新 -->
						<form method="post" th:action="@{brainscope}">
							<input type="hidden" name="updateFlag" value="1" />
							<input type="hidden" name="id" th:value="${neuron.id}" />
							<table class="width-100per">
								<tr>
									<td style="padding-top: 5px;">
										<!-- タイトル -->
										<div class="input-group">
											<input class="form-control input-lg" name="title" placeholder="Title" th:value="${neuron.title}" />
											<span class="input-group-btn">
												<button class="btn btn-lg" type="submit"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Save</button>
											</span>
										</div>
									</td>
								</tr>
								<tr>
									<td style="padding-top: 5px;">
										<!-- コンテンツ -->
										<textarea class="form-control textarea input-lg" name="content" placeholder="Content" th:text="${neuron.content}"></textarea>
									</td>
								</tr>
							</table>
						</form>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>