<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>BrainScope</title>
	<link rel="stylesheet" href="./css/default.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" media="screen" />
	
</head>

<body>
	<div class="container">
		<ul class="nav nav-tabs navbar-fixed-top" style="background-color: #ffffff">
			<li role="presentation" class="active">
				<a href="">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span> BrainScope
				</a>
			</li>
		</ul>
	
		<div class="row" style="padding-top: 50px;">
			<table class="table-hover table-condensed col-xs-6 col-sm-6 col-md-6 col-lg-6" style="position: fixed">
				<tr>
					<td>
						<!-- スコープアドレスの移動（上り） -->
						<form class="inline" method="post" action="brainscope">
							<input type="hidden" name="moveUpFlag" value="1" />
							<input type="hidden" name="id" th:value="${brainscope.get(0).id}" />
							<button class="btn btn-sm" type="submit" title="戻る"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
						</form>
						<!-- ニューロンの生成 -->
						<form class="inline" method="post" action="brainscope">
							<input type="hidden" name="generateFlag" value="1" />
							<input type="hidden" name="id" th:value="${brainscope.get(0).id}" />
							<button class="btn btn-sm" type="submit" title="ニューロンを生成"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
						</form>
						<!-- ニューロンの更新 -->
						<form method="post" action="brainscope">
							<input type="hidden" name="updateFlag" value="1" />
							<table class="width-100per">
								<tr>
									<td>
										<textarea class="display" name="id" th:text="${brainscope.get(0).id}"></textarea>
									</td>
								</tr>
								<tr>
									<td style="padding-top: 5px;">
										<!-- タイトル -->
										<div class="input-group">
											<input class="form-control input-sm" name="title" placeholder="Title" th:value="${brainscope.get(0).title}" />
											<span class="input-group-btn">
												<button class="btn btn-sm btn-success" type="submit"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Save</button>
											</span>
										</div>
									</td>
								</tr>
								<tr>
									<td style="padding-top: 5px;">
										<!-- コンテンツ -->
										<textarea class="form-control textarea input-sm" style="height: 60vh" name="content" placeholder="Content" th:text="${brainscope.get(0).content}"></textarea>
									</td>
								</tr>
							</table>
						</form>
					</td>
				</tr>
			</table>
			
			<table class="table-hover table-condensed col-xs-6 col-sm-6 col-md-6 col-lg-6" style="float: right;">
				<tr th:each="brainscope, iterStat : ${brainscope}" th:class="${iterStat.first} ? 'display'">
					<td>
						<!-- スコープアドレスの移動（下り） -->
						<form class="inline" method="post" action="brainscope">
							<input type="hidden" name="moveDownFlag" value="1" />
							<input type="hidden" name="id" th:value="${brainscope.id}" />
							<button class="btn btn-sm" type="submit" title="進む"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
						</form>
						<!-- ニューロンの削除 -->
						<form class="inline" method="post" action="brainscope">
							<input type="hidden" name="extinctFlag" value="1" />
							<input type="hidden" name="id" th:value="${brainscope.id}" />
							<button class="btn btn-sm" type="submit" title="ニューロンを削除"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						</form>
						<!-- ニューロンの挿入 -->
						<form class="inline" method="post" action="brainscope">
							<input type="hidden" name="insertFlag" value="1" />
							<input type="hidden" name="id" th:value="${brainscope.id}" />
							<button class="btn btn-sm" type="submit" title="ニューロンを挿入"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></button>
						</form>
						<!-- ニューロンの更新 -->
						<form method="post" action="brainscope">
							<input type="hidden" name="updateFlag" value="1" />
							<table class="width-100per">
								<tr>
									<td>
										<textarea class="display" name="id" th:text="${brainscope.id}"></textarea>
									</td>
								</tr>
								<tr>
									<td style="padding-top: 5px;">
										<!-- タイトル -->
										<div class="input-group">
											<input class="form-control input-sm" name="title" placeholder="Title" th:value="${brainscope.title}" />
											<span class="input-group-btn">
												<button class="btn btn-sm btn-success" type="submit"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Save</button>
											</span>
										</div>
									</td>
								</tr>
								<tr>
									<td style="padding-top: 5px;">
										<!-- コンテンツ -->
										<textarea class="form-control textarea input-sm" name="content" placeholder="Content" th:text="${brainscope.content}"></textarea>
									</td>
								</tr>
							</table>
						</form>
					</td>
				</tr>
			</table>
		</div>

<!-- 
		<div class="row" style="padding-top: 400px">
			<table border="1" width="100%">
				<tr>
					<td rowspan="5" width="50%">
						<textarea class="form-control textarea">工事中</textarea>
					</td>
				</tr>
				<tr>
					<td>
						bbb
					</td>
				</tr>
				<tr>
					<td>
						bbb
					</td>
				</tr>
				<tr>
					<td>
						bbb
					</td>
				</tr>
				<tr>
					<td>
						bbb
					</td>
				</tr>
			</table>
		</div>
 -->
 
	</div>
</body>
</html>